@{
    ViewData["Title"] = "Ders Programı Oluştur";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Ders Programı Oluştur</h1>
<p>Bu sayfa ders programı oluşturma işlemleri için kullanılır.</p>
